.section6__brands
{
    width: 100%;
    height: auto;
    padding: 150px 100px 0px 100px;
    box-sizing: border-box;
    background: #ff79ce10;

    & > .brands__descr
    {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        & > .brand__info
        {

            & > h1 
            {
                width: 450px;
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                color: #23049D;
            }

            & > p 
            {
                width: 386px;
                font-family: 'Mulish';
                font-size: 15px;
                color: rgba(0, 0, 0, 0.8);
                margin-top: 30px;
            }

            & > button 
            {
                width: 194px;
                height: 46px;
                background: #23049D;
                border-radius: 10px;
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 46px;
                color: #FFFFFF;
                text-align: center;
                margin-top: 60px;
            }
        }

        & > .brand__bg
        {
            width: 500px;
            height: 295px;
            background: #AA2EE6;
            box-shadow: 0px 4.24925px 11.8979px rgba(0, 0, 0, 0.12);
            border-radius: 8.4985px;
            padding: 70px 35px 70px 65px;
            box-sizing: border-box;

            & > h4 
            {
                width: 406px;
                font-family: 'Mulish';
                font-size: 20px;
                color: rgba(255, 255, 255, 0.8);
            }

            & > h3 
            {
                font-family: 'Quicksand';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                color: #FFFFFF;
                margin-top: 30px;
            }
        }


    }

    & > .brands__name
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 90px;
        padding: 0 50px;
        box-sizing: border-box;

        & > img 
        {
            margin: 20px 20px;
        }
    }
}

@media screen and (max-width:1365.78px)
{
    .section6__brands
    {
        width: 100%;
        height: auto;
        padding: 150px 30px 0px 30px;
        box-sizing: border-box;
        background: #ff79ce10;
    }
}


@media screen and (max-width:1023.78px)
{
    .section6__brands
    {
        width: 100%;
        height: auto;
        padding: 100px 20px 0px 20px;
        box-sizing: border-box;
        background: #ff79ce10;
    
        & > .brands__descr
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            text-align: center;
    
            & > .brand__info
            {
                display: block;
                margin: 0 auto;
                & > h1 
                {
                    width: 450px;
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    color: #23049D;
                }
    
                & > p 
                {
                    width: 386px;
                    font-family: 'Mulish';
                    font-size: 15px;
                    color: rgba(0, 0, 0, 0.8);
                    margin-top: 30px;
                }
    
                & > button 
                {
                    width: 194px;
                    height: 46px;
                    background: #23049D;
                    border-radius: 10px;
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 46px;
                    color: #FFFFFF;
                    text-align: center;
                    margin-top: 60px;
                   
                }
            }
    
            & > .brand__bg
            {
                width: 500px;
                height: 295px;
                background: #AA2EE6;
                box-shadow: 0px 4.24925px 11.8979px rgba(0, 0, 0, 0.12);
                border-radius: 8.4985px;
                padding: 70px 35px 70px 65px;
                box-sizing: border-box;
                display: block;
                margin: 50px auto;
    
                & > h4 
                {
                    width: 406px;
                    font-family: 'Mulish';
                    font-size: 20px;
                    color: rgba(255, 255, 255, 0.8);
                }
    
                & > h3 
                {
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    color: #FFFFFF;
                    margin-top: 30px;
                }
            }
        }

        & > .brands__name
        {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 90px;
            padding: 0 20px;
            box-sizing: border-box;
    
            & > img 
            {
                margin: 20px 20px;
            }
        }
    
    }
}



@media screen and (max-width:575.78px)
{
    .section6__brands
    {
        width: 100%;
        height: auto;
        padding: 100px 20px 0px 20px;
        box-sizing: border-box;
        background: #ff79ce10;
    
        & > .brands__descr
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            text-align: center;
    
            & > .brand__info
            {
                display: block;
                margin: 0 auto;
                width: 100%;
                & > h1 
                {
                    width: auto;
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 28px;
                    color: #23049D;
                }
    
                & > p 
                {
                    width: auto;
                    font-family: 'Mulish';
                    font-size: 15px;
                    color: rgba(0, 0, 0, 0.8);
                    margin-top: 30px;
                }
    
                & > button 
                {
                    width: 194px;
                    height: 46px;
                    background: #23049D;
                    border-radius: 10px;
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 46px;
                    color: #FFFFFF;
                    text-align: center;
                    margin-top: 60px;
                   
                }
            }
    
            & > .brand__bg
            {
                width: 100%;
                height: 310px;
                background: #AA2EE6;
                box-shadow: 0px 4.24925px 11.8979px rgba(0, 0, 0, 0.12);
                border-radius: 8.4985px;
                padding: 50px 25px 70px 25px;
                box-sizing: border-box;
                display: block;
                margin: 50px auto;
    
                & > h4 
                {
                    width: auto;
                    font-family: 'Mulish';
                    font-size: 20px;
                    color: rgba(255, 255, 255, 0.8);
                }
    
                & > h3 
                {
                    font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    color: #FFFFFF;
                    margin-top: 30px;
                }
            }
        }

        & > .brands__name
        {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 90px;
            padding: 0 20px;
            box-sizing: border-box;
    
            & > img 
            {
                width: 190px;
                display: block;
                margin: 30px auto;
            }
        }
    
    }
}