.section4__feedback
{
    width: 100%;
    height: auto;
    padding: 150px 100px 0px 100px;
    box-sizing: border-box;
    background: #ff79ce10;

    & > h1 
    {
        max-width: 700px;
        width: 100%;
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        color: #23049D;
        text-align: center;
        margin: auto;
    }

    & > img 
    {
        max-width: 800px;
        width: 100%;
        display: block;
        margin: 50px auto;
        border-radius: 30px;
        background: #ff79ce10;
    }

    & > .feedback__counter
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 80px;

        & > .numbers
        {
            width: 200px;
            height: auto;

            & > h2 
            {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 80px;
                color: #AA2EE6;
                text-align: center;
            }

            & > p 
            {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 18.5;
                text-align: center;
                color: #000000;
            }
        }

    }
}

@media screen and (max-width:1099.78px)
{
    .section4__feedback
    {
        width: 100%;
        height: auto;
        padding: 100px 20px 0px 20px;
        box-sizing: border-box;
        background: #ff79ce10;
    }
}


@media screen and (max-width:767.78px)
{
    .section4__feedback
    {
        width: 100%;
        height: auto;
        padding: 100px 20px 0px 20px;
        box-sizing: border-box;
        background: #ff79ce10;
    
        & > h1 
        {
            
            width: 100%;
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            color: #23049D;
            text-align: center;
            margin: auto;
        }
    
        & > img 
        {
            
            width: 100%;
            display: block;
            margin: 50px auto;
            border-radius: 30px;
            background: #ff79ce10;
        }
    
        & > .feedback__counter
        {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 80px;
    
            & > .numbers
            {
                width: 200px;
                height: auto;
                margin: 20px 0;
    
                & > h2 
                {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 50px;
                    color: #AA2EE6;
                    text-align: center;
                }
    
                & > p 
                {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18.5;
                    text-align: center;
                    color: #000000;
                }
            }
    
        }
    }
}