@font-face {
    font-family: 'Quicksand';
    src: url("../fonts/Quicksand/Quicksand-Regular.ttf");
}

@font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: 'Mulish';
    src: url("../fonts/Mulish/Mulish-Regular.ttf");
}

@font-face {
    font-family: 'Norican';
    src: url("../fonts/Norican/Norican-Regular.ttf");
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/Inter-Regular.ttf");
}